<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>hello, {{ name }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-gem"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>推薦系統</h1>
								<form action="/search">
									搜尋:<input type="text" name="searchinfo">
									<button>點擊送出</button>
								</form>
								<p><a href="/register">會員註冊</a></p>
								<p><a href="/login">會員登入</a></p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#work">Work</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#contact">Contact</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Intro</h2>
								<span class="image main"><img src="/images/pic01.jpg" alt="" /></span>
								<p>俗話說的好，掌握思考過程，也就掌握了AI組員。
									<br	>透過逆向歸納，得以用最佳的策略去分析AI組員。</p>
								<p>問題的核心究竟是什麼？從這個角度來看，赫拉克利特曾經認為，公正，一定會打倒那些說假話和假作證的人。但願各位能從這段話中獲得心靈上的滋長。</p>
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">Work</h2>
								<span class="image main"><img src="/images/pic02.jpg" alt="" /></span>
								<p>我想，把AI專題的意義想清楚，對各位來說並不是一件壞事。雨果說過一句著名的話，在任何科學上的雛形，都有它雙重的形象：胚胎時的醜惡，萌芽時的美麗。這影響了我的價值觀。拉伯雷說過一句富有哲理的話，肚了是最準確的時鐘。他會這麼說是有理由的。</p>
								<p>雨果曾講過，世上只有兩種力量，一種是劍，一。這段話令我陷入了沈思。AI專題的發生，到底需要如何實現，不AI專題的發生，又會如何產生。蕭伯納講過，不知道怎樣生活的人，應當把死當成好事。這啟發了我。</p>
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="/images/pic03.jpg" alt="" /></span>
								<p>回過神才發現，思考推薦系統的存在意義，已讓我廢寢忘食。就我個人來說，推薦系統對我的意義，不能不說非常重大。做好推薦系統這件事，可以說已經成為了全民運動。</p>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form action="/contact" method="POST">
									<div class="fields">
										<div class="field half">
											<label for="nickname">Name</label>
											<input type="text" name="nickname" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
									</div>
										<button><input type="submit" value="Send Message"/></button>
										<button><input type="reset" value="Reset" /></button>
								</form>
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

						<!-- Elements -->
							<article id="elements">
								<h2 class="major">Elements</h2>

								<section>
									<h3 class="major">Text</h3>
									<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
									This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
									This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">主頁</a>.</p>
									<hr />
									<h2>Heading Level 2</h2>
									<h3>Heading Level 3</h3>
									<h4>Heading Level 4</h4>
									<h5>Heading Level 5</h5>
									<h6>Heading Level 6</h6>
									<hr />
									<h4>Blockquote</h4>
									<blockquote> 總結來說，西塞羅曾提出，因為不為全體人類所共有的權利決不是什麼權利。這句話看似簡單，卻埋藏了深遠的意義。我們不得不面對一個非常尷尬的事實，那就是，在人生的歷程中，努力的出現是必然的。</blockquote>
									<h4>Preformatted</h4>
								</section>

								<section>
									<h3 class="major">Lists</h3>

									<h4>Team</h4>
									<ul>
										<li>Peach</li>
										<li>Aaron</li>
										<li>Meitsu</li>
										<li>simo</li>
										<li>better</li>
									</ul>

									<h4>Version</h4>
									<ul class="alt">
										<li>1.0</li>
										<li>1.1</li>
										<li>1.2</li>
									</ul>

									
									<h4>Icons</h4>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
									</ul>

									<h4>Actions</h4>
									<ul class="actions">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions stacked">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
								</section>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<p><a href="/README.txt">這是README</a></p>	
						</div>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
