html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  line-height: 1.5;
  font-size: 17px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(241, 235, 255);
}

.h3 {
  font-size: 2.25rem;

}

.signin {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
.form-signin {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding-top: 32px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 32px;
}


.form-signin .form-input {
  margin-top: 32px;
}

.form-signin .form-field {
  margin-bottom: 24px;
}

.label {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 6px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25;
}

.form-signin .checkbox {
  font-weight: 400;
  margin-bottom: 24px;
}

/* .form-signin .form-floating:focus-within {
  z-index: 2;
  margin-top: 32px;

} */

.form-signin input[type="email"] {
  margin-bottom: 40px;
  border-bottom-right-radius: 120;
  border-bottom-left-radius: 120;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 120;
  border-top-right-radius: 120;
}

.form-signin .signup {
  display: flex;
  justify-content: center;
  margin-top: 24px;

}

.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
  }

.footer {
  display: flex;
  justify-content: center;
}